<h4 class="center aligned medium image header">
  <i class="Home_leaf_jpg_image"></i>
  Say Something
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui small feed">
          <h4 class="ui header">Followers Activity</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Todd Traylor</a> added <a>Joy Palmer-Traylor/a> as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Joy Palmer-Traylor</a> added <a>Ginger the Cat</a> as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Ginger the Cat</a> added <a>Jasmine the Cat</a> as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Jasmine the Cat</a> signed up for the  site.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>