$navbar-default-bg: #444e5c;
@import 'bootstrap/dist/css/bootstrap';
.navbar {
    background-color: #FDF6EA !important;
}

.navbar-brand {
    font-size: 3rem;
}

h1 {
    color: red;
}

.chatbox {
    height: 450px;
}

#messages {
    height: 15em;
    overflow: auto;
}

.input {
    button {
        display: none;
    }
}